<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="PrUhZZF8bp26G-46dVka4cpvfvMMBIyaPVT3Fm-Tr4g" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="icon" type="image/png" href="/images/studio_icon.png">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <script type="application/ld+json">
  { "@context" : "http://schema.org",
    "@type" : "Organization",
    "name" : "{{ site.title }}",
    "url" : "{{ site.url }}",
    "email" : "{{ site.email }}",
    "description" : "{{ site.description }}",
    "image" : "https://infinite-dango-studios.github.io/images/studio_logo.png",
    "logo" : "https://infinite-dango-studios.github.io/images/studio_logo.png",
    "foundingDate" : "2015-01-27",
    "sameAs" : [ "http://www.facebook.com/{{ site.facebook_username }}",
        "https://plus.google.com/+{{ site.googleplus_username }}"],
    "owns" : [
      {
          "@type" : "SoftwareApplication",
          "name" : "Ganbatte",
          "image" : "https://infinite-dango-studios.github.io/images/ganbatte_logo.png",
          "screenshot" : "https://infinite-dango-studios.github.io/images/sc_01.png",
          "url" : "https://infinite-dango-studios.github.io/ganbatte/",
          "applicationCategory" : "Visual Novel, Dating Sim",
          "downloadUrl" : "https://github.com/Infinite-Dango-Studios/ganbatte/releases",
          "operatingSystem" : "Windows, Mac, Linux",
          "offers" : [
            {
                "@context" : "Offer",
                "price" : "0",
                "priceCurrency" : "USD"
            }
          ]
      }
    ],
    "employees" : [
        {
            "@type" : "Person",
            "name" : "Christopher Wells",
            "alternateName" : "ExcaliburZero",
            "jobTitle" : "Coder",
            "url" : "http://excaliburzero.github.io/",
            "nationality" : "United States"
        },
        {
            "@type" : "Person",
            "name" : "Stephen Sesonske",
            "alternateName" : "Sabre-Hecate",
            "jobTitle" : "Writer",
            "nationality" : "United States"
        },
        {
            "@type" : "Person",
            "name" : "juanitaylor",
            "jobTitle" : "Artist",
            "nationality" : "United States"
        },
        {
            "@type" : "Person",
            "name" : "ChocoTacoKitty",
            "jobTitle" : "Artist",
            "nationality" : "United States"
        },
        {
            "@type" : "Person",
            "name" : "boxesofflowers",
            "jobTitle" : "Artist",
            "nationality" : "United States"
        }
    ]
    },
  </script>
</head>
